.game{
	width: 600px;
	height: 200px;
	border: 1px black;
	margin: auto;
}

#dino {
	width: 70px;
	height: 100px;
	background-color: white;
	background-image: url("https://user-images.githubusercontent.com/54191400/117211177-ac40f480-adc6-11eb-94bd-08b18f977226.png");
	background-size: 70px 100px;
	position: relative;
	top: 150px;
}

.jump {
	animation: jump 0.3s linear;
}

@keyframes jump{
	0% {
		top: 150px;
	}

	30% {
		top: 130px;
	}

	50% {
		top: 80px;
	}

	80% {
		top:130px;
	}

	100% {
		top: 150px;
	}

}

#cactus {
	width: 70px;
	height: 100px;
	position: relative;
	top: 50px;
	left: 580px;

	background-image: url("https://user-images.githubusercontent.com/54191400/117213275-676a8d00-adc9-11eb-85d1-10f360dcfc84.png");
	background-size: 70px 100px;

	animation: block 1s infinite linear;
}

@keyframes block{
	0% {
		left: 580px;
	}

	100% {
		left: -80px;
	}
}



